*{
  box-sizing: border-box;
}



img{
  max-width: 100%;
}

li {
  list-style: none;
}

.octodex{
  display: inline-block;
  vertical-align: top;

}

.octocat{
  display: inline-block;
  width: 30%;
  margin:8px;
}

.octocat img{
  border: 1.5px solid #cccccc;
  padding: 2px;
  border-radius: 2px;
}

div .image-footer{
  display:inline-block;
  max-height: 53;
}

.image-footer:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #cacaca;
    position: absolute;
    right: 7px;
    top: 0;
}

.image-footer{
  padding: 12px 0 12px 0;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #cacaca;
  position: relative;
}

.image-number:before{
  content:"#";
}

.image-number{
  padding: 18px 0 12px;
  display: inline-block;
  text-align: left;
  color: #cacaca;
  position:relative;
}

div .image-caption{
  display: inline-block;
  margin: 0px;
  position: relative;
  float: right;
}

.image-caption{
  text-align: right;
  font-family: Helvetica;
  position: relative;
  font-weight: bold;
}

.image-caption span{
  display: inline-block;
  color: #777;
  padding: 12px 0px 10px 0px;
}

.image-caption a{
  display: inline-block;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
ul .authors{
  display: inline-block;
  padding: 0px;
}

ul .authors img{
  padding-top: 8px;
  border: none;
  display: inline-block;
  max-height: 29px;

body{
  background-color: none;

}
